<a href="https://colab.research.google.com/github/sathishkumar19/Sathish_Portfolio/blob/main/employee_db_hr_dataset_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Employee - HR Database - SQL Analysis

Importing Data for Analysis

In [1]:
from google.colab import auth
from google.cloud import bigquery
import os
import zipfile

In [2]:
# âœ… Authenticate with your Google account
auth.authenticate_user()

# âœ… Ask for project ID
project_id = input("Please enter your Google Cloud Project ID:")

Please enter your Google Cloud Project ID:sathish-scaler-projects

In [3]:
# âœ… Upload your ZIP
from google.colab import files
uploaded = files.upload()

Saving hr.zip to hr.zip

In [37]:
# âœ… Unzip uploaded file
import shutil
zip_file_name = next(iter(uploaded))
base_extract_path = "/content/bq_dataset_files"
with zipfile.ZipFile(zip_file_name, 'r') as zip_ref:
    zip_ref.extractall(base_extract_path)

In [38]:
ls /content/bq_dataset_files

countries.csv    employees.csv    jobs.csv       __MACOSX/
departments.csv  job_history.csv  locations.csv  regions.csv

In [44]:
dataset_mapping = {
    "employee_db": ""
}

In [45]:
base_extract_path = "/content/bq_dataset_files"

for dataset_id, subfolder in dataset_mapping.items():
  folder_path = os.path.join(base_extract_path, subfolder)

In [46]:
# âœ… Create datasets and load CSVs
import os
from google.cloud import bigquery

client = bigquery.Client(project=project_id)

for dataset_id, subfolder in dataset_mapping.items():
    dataset_ref = bigquery.Dataset(f"{project_id}.{dataset_id}")
    try:
        client.get_dataset(dataset_ref)
        print(f"âœ… Dataset already exists: {dataset_id}")
    except Exception:
        client.create_dataset(dataset_ref)
        print(f"ðŸ†• Created dataset: {dataset_id}")

    # Navigate to the directory containing the CSV files
    folder_path = os.path.join(base_extract_path, subfolder) # Corrected the path

    for file in os.listdir(folder_path):
        # Check if the file ends with .csv
        if file.endswith(".csv"):
            # Extract table_id from the filename by removing .csv and prefix
            table_id = file.replace(".csv", "").split("_", 1)[-1]  # Extract the table name after the underscore
            file_path = os.path.join(folder_path, file)
            table_ref = f"{project_id}.{dataset_id}.{table_id}"  # Use dataset_id here

            job_config = bigquery.LoadJobConfig(
                source_format=bigquery.SourceFormat.CSV,
                skip_leading_rows=1,
                autodetect=True
            )

            with open(file_path, "rb") as source_file:
                job = client.load_table_from_file(source_file, table_ref, job_config=job_config)
            job.result()  # Wait for the job to complete
            print(f"ðŸ“¥ Uploaded: {file} â†’ {table_ref}")

print("âœ… All CSV files uploaded to BigQuery.")

âœ… Dataset already exists: employee_db
ðŸ“¥ Uploaded: regions.csv â†’ sathish-scaler-projects.employee_db.regions
ðŸ“¥ Uploaded: employees.csv â†’ sathish-scaler-projects.employee_db.employees
ðŸ“¥ Uploaded: locations.csv â†’ sathish-scaler-projects.employee_db.locations
ðŸ“¥ Uploaded: jobs.csv â†’ sathish-scaler-projects.employee_db.jobs
ðŸ“¥ Uploaded: departments.csv â†’ sathish-scaler-projects.employee_db.departments
ðŸ“¥ Uploaded: job_history.csv â†’ sathish-scaler-projects.employee_db.history
ðŸ“¥ Uploaded: countries.csv â†’ sathish-scaler-projects.employee_db.countries
âœ… All CSV files uploaded to BigQuery.

In [47]:
from google.cloud import bigquery
from tabulate import tabulate

In [48]:
# Construct a BigQuery client object.
client = bigquery.Client(project='sathish-scaler-projects') # Assuming you have 'project_id' from before

In [49]:
# Construct a SQL query.
query = """
    SELECT *
    FROM `sathish-scaler-projects.employee_db.employees`
    LIMIT 20
    # Replace with your actual dataset and table names
"""
# Execute the query.
query_job = client.query(query)

# Get the results.
results = query_job.result()

# Convert results to pandas DataFrame
df = results.to_dataframe()

# Display DataFrame as a nicely formatted table using tabulate
print(tabulate(df, headers='keys', tablefmt='psql'))

+----+---------------+--------------+-------------+----------+----------------+-------------+------------+----------+------------------+--------------+-----------------+
|    |   employee_id | first_name   | last_name   | email    | phone_number   | hire_date   | job_id     |   salary | commission_pct   | manager_id   |   department_id |
|----+---------------+--------------+-------------+----------+----------------+-------------+------------+----------+------------------+--------------+-----------------|
|  0 |           100 | Steven       | King        | SKING    | 515.123.4567   | 1987-06-17  | AD_PRES    |    25000 | NULL             | NULL         |              90 |
|  1 |           101 | Neena        | Kochhar     | NKOCHHAR | 515.123.4568   | 1989-09-21  | AD_VP      |    17000 | NULL             | 100          |              90 |
|  2 |           102 | Lex          | De Haan     | LDEHAAN  | 515.123.4569   | 1993-01-13  | AD_VP      |    17000 | NULL             | 100          |              90 |
|  3 |           103 | Alexander    | Hunold      | AHUNOLD  | 590.423.4567   | 1990-01-03  | IT_PROG    |     9000 | NULL             | 102          |              60 |
|  4 |           104 | Bruce        | Ernst       | BERNST   | 590.423.4568   | 1991-05-21  | IT_PROG    |     6000 | NULL             | 103          |              60 |
|  5 |           105 | David        | Austin      | DAUSTIN  | 590.423.4569   | 1997-06-25  | IT_PROG    |     4800 | NULL             | 103          |              60 |
|  6 |           106 | Valli        | Pataballa   | VPATABAL | 590.423.4560   | 1998-02-05  | IT_PROG    |     4800 | NULL             | 103          |              60 |
|  7 |           107 | Diana        | Lorentz     | DLORENTZ | 590.423.5567   | 1999-02-07  | IT_PROG    |     4200 | NULL             | 103          |              60 |
|  8 |           108 | Nancy        | Greenberg   | NGREENBE | 515.124.4569   | 1994-08-17  | FI_MGR     |    12000 | NULL             | 101          |             100 |
|  9 |           109 | Daniel       | Faviet      | DFAVIET  | 515.124.4169   | 1994-08-16  | FI_ACCOUNT |     9000 | NULL             | 108          |             100 |
| 10 |           110 | John         | Chen        | JCHEN    | 515.124.4269   | 1997-09-28  | FI_ACCOUNT |     8200 | NULL             | 108          |             100 |
| 11 |           111 | Ismael       | Sciarra     | ISCIARRA | 515.124.4369   | 1997-09-30  | FI_ACCOUNT |     7700 | NULL             | 108          |             100 |
| 12 |           112 | Jose Manuel  | Urman       | JMURMAN  | 515.124.4469   | 1998-03-07  | FI_ACCOUNT |     7800 | NULL             | 108          |             100 |
| 13 |           113 | Luis         | Popp        | LPOPP    | 515.124.4567   | 1999-12-07  | FI_ACCOUNT |     6900 | NULL             | 108          |             100 |
| 14 |           114 | Den          | Raphaely    | DRAPHEAL | 515.127.4561   | 1994-12-07  | PU_MAN     |    11000 | NULL             | 100          |              30 |
| 15 |           115 | Alexander    | Khoo        | AKHOO    | 515.127.4562   | 1995-05-18  | PU_CLERK   |     3100 | NULL             | 114          |              30 |
| 16 |           116 | Shelli       | Baida       | SBAIDA   | 515.127.4563   | 1997-12-24  | PU_CLERK   |     2900 | NULL             | 114          |              30 |
| 17 |           117 | Sigal        | Tobias      | STOBIAS  | 515.127.4564   | 1997-07-24  | PU_CLERK   |     2800 | NULL             | 114          |              30 |
| 18 |           118 | Guy          | Himuro      | GHIMURO  | 515.127.4565   | 1998-11-15  | PU_CLERK   |     2600 | NULL             | 114          |              30 |
| 19 |           119 | Karen        | Colmenares  | KCOLMENA | 515.127.4566   | 1999-08-10  | PU_CLERK   |     2500 | NULL             | 114          |              30 |
+----+---------------+--------------+-------------+----------+----------------+-------------+------------+----------+------------------+--------------+-----------------+

In [50]:
# Assuming this is within a larger Python script using a database connector
# Example using sqlite3:
import sqlite3
conn = sqlite3.connect('sathish-scaler-projects.cineflix_store.employees')
cursor = conn.cursor()

Q. Which location does all employees belong

In [ ]:
query = """
SELECT *
FROM `sathish-scaler-projects.employee_db.employees`

"""
query_job = client.query(query)
results = query_job.result()
df = results.to_dataframe()
print(tabulate(df, headers='keys', tablefmt='psql'))



List all the tables with thier schema structure in employees_db

In [55]:
# prompt: List all the tables with thier schema structure in employees_db

from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client(project='sathish-scaler-projects') # Replace with your project ID

# Replace with your actual dataset ID
dataset_id = 'employee_db'

# Get the dataset
dataset_ref = client.get_dataset(dataset_id)
tables = list(client.list_tables(dataset_ref))  # Make this a list

print(f"Tables in dataset '{dataset_id}':")
for table in tables:
    print(f"Table: {table.table_id}")

    # Get the table schema
    table = client.get_table(table.reference)
    print("Schema:")
    for schema_field in table.schema:
      print(f"  - Name: {schema_field.name}, Type: {schema_field.field_type}, Mode: {schema_field.mode}, Description: {schema_field.description}")
    print("-" * 20)

Tables in dataset 'employee_db':
Table: countries
Schema:
  - Name: country_id, Type: STRING, Mode: NULLABLE, Description: None
  - Name: country_name, Type: STRING, Mode: NULLABLE, Description: None
  - Name: region_id, Type: INTEGER, Mode: NULLABLE, Description: None
--------------------
Table: departments
Schema:
  - Name: department_id, Type: INTEGER, Mode: NULLABLE, Description: None
  - Name: department_name, Type: STRING, Mode: NULLABLE, Description: None
  - Name: manager_id, Type: STRING, Mode: NULLABLE, Description: None
  - Name: location_id, Type: INTEGER, Mode: NULLABLE, Description: None
--------------------
Table: employees
Schema:
  - Name: employee_id, Type: INTEGER, Mode: NULLABLE, Description: None
  - Name: first_name, Type: STRING, Mode: NULLABLE, Description: None
  - Name: last_name, Type: STRING, Mode: NULLABLE, Description: None
  - Name: email, Type: STRING, Mode: NULLABLE, Description: None
  - Name: phone_number, Type: STRING, Mode: NULLABLE, Description: None
  - Name: hire_date, Type: DATE, Mode: NULLABLE, Description: None
  - Name: job_id, Type: STRING, Mode: NULLABLE, Description: None
  - Name: salary, Type: INTEGER, Mode: NULLABLE, Description: None
  - Name: commission_pct, Type: STRING, Mode: NULLABLE, Description: None
  - Name: manager_id, Type: STRING, Mode: NULLABLE, Description: None
  - Name: department_id, Type: STRING, Mode: NULLABLE, Description: None
--------------------
Table: history
Schema:
  - Name: employee_id, Type: INTEGER, Mode: NULLABLE, Description: None
  - Name: start_date, Type: DATE, Mode: NULLABLE, Description: None
  - Name: end_date, Type: DATE, Mode: NULLABLE, Description: None
  - Name: job_id, Type: STRING, Mode: NULLABLE, Description: None
  - Name: department_id, Type: INTEGER, Mode: NULLABLE, Description: None
--------------------
Table: jobs
Schema:
  - Name: job_id, Type: STRING, Mode: NULLABLE, Description: None
  - Name: job_title, Type: STRING, Mode: NULLABLE, Description: None
  - Name: min_salary, Type: FLOAT, Mode: NULLABLE, Description: None
  - Name: max_salary, Type: FLOAT, Mode: NULLABLE, Description: None
--------------------
Table: locations
Schema:
  - Name: location_id, Type: INTEGER, Mode: NULLABLE, Description: None
  - Name: street_address, Type: STRING, Mode: NULLABLE, Description: None
  - Name: postal_code, Type: STRING, Mode: NULLABLE, Description: None
  - Name: city, Type: STRING, Mode: NULLABLE, Description: None
  - Name: state_province, Type: STRING, Mode: NULLABLE, Description: None
  - Name: country_id, Type: STRING, Mode: NULLABLE, Description: None
--------------------
Table: regions
Schema:
  - Name: region_id, Type: INTEGER, Mode: NULLABLE, Description: None
  - Name: region_name, Type: STRING, Mode: NULLABLE, Description: None
--------------------

![image.png](
  
)

In [65]:
# prompt: Create a Entity Relationship Diagram for the employees_db and place using mermaid in a visual format

erDiagram
    employees {
        employee_id INT PK
        first_name VARCHAR
        last_name VARCHAR
        email VARCHAR
        phone_number VARCHAR
        hire_date DATE
        job_id INT
        salary DECIMAL
        commission_pct DECIMAL
        manager_id INT
        department_id INT
    }

    jobs {
        job_id INT PK
        job_title VARCHAR
        min_salary DECIMAL
        max_salary DECIMAL
    }

    departments {
        department_id INT PK
        department_name VARCHAR
        location_id INT
    }

    locations {
        location_id INT PK
        street_address VARCHAR
        postal_code VARCHAR
        city VARCHAR
        state_province VARCHAR
        country_id VARCHAR
    }

    countries {
        country_id VARCHAR PK
        country_name VARCHAR
        region_id INT
    }

    regions {
        region_id INT PK
        region_name VARCHAR
    }

    employees ||--o{ jobs : works_as
    employees ||--o{ departments : works_in
    departments ||--o{ locations : located_in
    locations ||--o{ countries : belongs_to
    countries ||--o{ regions : part_of
    employees ||--o{ employees : managed_by

IndentationError: unexpected indent (<ipython-input-65-f1113c2816e9>, line 4)

# prompt: Create a Entity Relationship Diagram for the employees_db and place using mermaid

erDiagram
    employees {
        emp_id INT PK
        first_name VARCHAR
        last_name VARCHAR
        email VARCHAR
        phone_number VARCHAR
        hire_date DATE
```mermaid
erDiagram
    employees {
        emp_id INT PK
        first_name VARCHAR
        last_name VARCHAR
        email VARCHAR
        phone_number VARCHAR
        hire_date DATE
        job_id INT
        salary DECIMAL
        commission_pct DECIMAL
        manager_id INT
        department_id INT
    }

    departments {
        department_id INT PK
        department_name VARCHAR
        location_id INT
    }

    jobs {
        job_id INT PK
        job_title VARCHAR
        min_salary DECIMAL
        max_salary DECIMAL
    }

    locations {
        location_id INT PK
        street_address VARCHAR
        postal_code VARCHAR
        city VARCHAR
        state_province VARCHAR
        country_id CHAR
    }
    
    countries {
        country_id CHAR PK
        country_name VARCHAR
        region_id INT
    }

    regions {
        region_id INT PK
        region_name VARCHAR
    }
    

    employees } *--{ departments : works_in
    employees } *--{ jobs : assigned_to
    employees } *--{ employees : manages
    departments } *--{ locations : located_in
    locations } *--{ countries : resides_in
    countries } *--{ regions : belongs_to
```
    }

    departments {
        department_id INT PK
        department_name VARCHAR
        location_id INT
    }

    jobs {
        job_id INT PK
        job_title VARCHAR
        min_salary DECIMAL
        max_salary DECIMAL
    }

    locations {
        location_id INT PK
        street_address VARCHAR
        postal_code VARCHAR
        city VARCHAR
        state_province VARCHAR
        country_id CHAR
    }
    
    countries {
        country_id CHAR PK
        country_name VARCHAR
        region_id INT
    }

    regions {
        region_id INT PK
        region_name VARCHAR
    }
    

    employees } *--{ departments : works_in
    employees } *--{ jobs : assigned_to
    employees } *--{ employees : manages
    departments } *--{ locations : located_in
    locations } *--{ countries : resides_in
    countries } *--{ regions : belongs_to

In [66]:
# prompt: Write a query to list all employees who earn above the average salary of thier department. display each employees, employee_id, department_id, salary and the department's average salary , rounded to the nearest integer

In [67]:
# prompt: Write a query to list all employees who earn above the average salary of thier department.
#display each employees, employee_id, department_id, salary and the department's average salary , rounded to the nearest integer

# Construct a BigQuery client object.
client = bigquery.Client(project='sathish-scaler-projects')

query = """
    SELECT

        e.employee_id,
        e.department_id,
        e.salary,
        ROUND(avg_salary.avg_dept_salary, 0) AS avg_department_salary
    FROM
        `sathish-scaler-projects.employee_db.employees` AS e
    JOIN (
        SELECT
            department_id,
            AVG(salary) AS avg_dept_salary
        FROM
            `sathish-scaler-projects.employee_db.employees`
        GROUP BY
            department_id
    ) AS avg_salary ON e.department_id = avg_salary.department_id
    WHERE e.salary > avg_salary.avg_dept_salary;
"""

query_job = client.query(query)
results = query_job.result()
df = results.to_dataframe()
print(tabulate(df, headers='keys', tablefmt='psql'))

+----+---------------+-----------------+----------+-------------------------+
|    |   employee_id |   department_id |   salary |   avg_department_salary |
|----+---------------+-----------------+----------+-------------------------|
|  0 |           100 |              90 |    25000 |                   19667 |
|  1 |           103 |              60 |     9000 |                    5760 |
|  2 |           104 |              60 |     6000 |                    5760 |
|  3 |           108 |             100 |    12000 |                    8600 |
|  4 |           109 |             100 |     9000 |                    8600 |
|  5 |           114 |              30 |    11000 |                    4150 |
|  6 |           120 |              50 |     8000 |                    3476 |
|  7 |           121 |              50 |     8200 |                    3476 |
|  8 |           122 |              50 |     7900 |                    3476 |
|  9 |           123 |              50 |     6500 |                    3476 |
| 10 |           124 |              50 |     5800 |                    3476 |
| 11 |           137 |              50 |     3600 |                    3476 |
| 12 |           141 |              50 |     3500 |                    3476 |
| 13 |           145 |              80 |    14000 |                    8956 |
| 14 |           146 |              80 |    13500 |                    8956 |
| 15 |           147 |              80 |    12000 |                    8956 |
| 16 |           148 |              80 |    11000 |                    8956 |
| 17 |           149 |              80 |    10500 |                    8956 |
| 18 |           150 |              80 |    10000 |                    8956 |
| 19 |           151 |              80 |     9500 |                    8956 |
| 20 |           152 |              80 |     9000 |                    8956 |
| 21 |           156 |              80 |    10000 |                    8956 |
| 22 |           157 |              80 |     9500 |                    8956 |
| 23 |           158 |              80 |     9000 |                    8956 |
| 24 |           162 |              80 |    10500 |                    8956 |
| 25 |           163 |              80 |     9500 |                    8956 |
| 26 |           168 |              80 |    11500 |                    8956 |
| 27 |           169 |              80 |    10000 |                    8956 |
| 28 |           170 |              80 |     9600 |                    8956 |
| 29 |           174 |              80 |    11000 |                    8956 |
| 30 |           184 |              50 |     4200 |                    3476 |
| 31 |           185 |              50 |     4100 |                    3476 |
| 32 |           188 |              50 |     3800 |                    3476 |
| 33 |           189 |              50 |     3600 |                    3476 |
| 34 |           192 |              50 |     4000 |                    3476 |
| 35 |           193 |              50 |     3900 |                    3476 |
| 36 |           201 |              20 |    13000 |                    9500 |
| 37 |           205 |             110 |    12000 |                   10150 |
+----+---------------+-----------------+----------+-------------------------+

In [68]:
# Prompt : Write a query to display details of employees who have the 3rd highest salary in each department, if multiple emplouyees have the same salary as the 3rd highest in the department in a deaprtment, include all of them. the output should include department_id, employee_id, employee_name(fullname), salary

query = """
    SELECT
        department_id,
        employee_id,
        CONCAT(first_name, ' ', last_name) AS employee_name,
        salary
    FROM (

"""

query_job = client.query(query)
results = query_job.result()
df = results.to_dataframe()
print(tabulate(df, headers='keys', tablefmt='psql'))

In [69]:
# prompt: Prompt : Write a query to display details of employees who have the 3rd highest salary in each department, if multiple emplouyees have the same salary as the 3rd highest in the department in a deaprtment, include all of them. the output should include department_id, employee_id, employee_name(fullname), salary

query = """
    SELECT department_id, employee_id, CONCAT(first_name, ' ', last_name) AS employee_name, salary
    FROM (
        SELECT
            department_id,
            employee_id,
            first_name,
            last_name,
            salary,
            DENSE_RANK() OVER (PARTITION BY department_id ORDER BY salary DESC) as salary_rank
        FROM
            `sathish-scaler-projects.employee_db.employees`
    ) ranked_salaries
    WHERE salary_rank = 3;
"""

query_job = client.query(query)
results = query_job.result()
df = results.to_dataframe()
print(tabulate(df, headers='keys', tablefmt='psql'))

+----+-----------------+---------------+-------------------+----------+
|    |   department_id |   employee_id | employee_name     |   salary |
|----+-----------------+---------------+-------------------+----------|
|  0 |              80 |           147 | Alberto Errazuriz |    12000 |
|  1 |              50 |           122 | Payam Kaufling    |     7900 |
|  2 |              30 |           116 | Shelli Baida      |     2900 |
|  3 |              60 |           105 | David Austin      |     4800 |
|  4 |              60 |           106 | Valli Pataballa   |     4800 |
|  5 |             100 |           110 | John Chen         |     8200 |
+----+-----------------+---------------+-------------------+----------+

In [70]:
# prompt: Divde employees within each department into four equal salary groups (quartiles) , list each employees , employee_id, department_id, employee_name, salary and thier salary_quartile( indicating the quartile they fall into based in the salary within thier department, the 1st quartile should contain the employees with the highest salaries , the 4th quartile should contain the employees with lowest salaries

query = """
    WITH EmployeeSalaries AS (
        SELECT
            employee_id,
            department_id,
            first_name,
            last_name,
            salary,
            NTILE(4) OVER (PARTITION BY department_id ORDER BY salary DESC) AS salary_quartile
        FROM
            `sathish-scaler-projects.employee_db.employees`
    )
    SELECT
        employee_id,
        department_id,
        CONCAT(first_name, ' ', last_name) AS employee_name,
        salary,
        salary_quartile
    FROM
        EmployeeSalaries
    ORDER BY
        department_id,
        salary_quartile,
        salary DESC;
"""

query_job = client.query(query)
results = query_job.result()
df = results.to_dataframe()
print(tabulate(df, headers='keys', tablefmt='psql'))

+-----+---------------+-----------------+-------------------+----------+-------------------+
|     |   employee_id | department_id   | employee_name     |   salary |   salary_quartile |
|-----+---------------+-----------------+-------------------+----------+-------------------|
|   0 |           200 | 10              | Jennifer Whalen   |     4400 |                 1 |
|   1 |           108 | 100             | Nancy Greenberg   |    12000 |                 1 |
|   2 |           109 | 100             | Daniel Faviet     |     9000 |                 1 |
|   3 |           110 | 100             | John Chen         |     8200 |                 2 |
|   4 |           112 | 100             | Jose Manuel Urman |     7800 |                 2 |
|   5 |           111 | 100             | Ismael Sciarra    |     7700 |                 3 |
|   6 |           113 | 100             | Luis Popp         |     6900 |                 4 |
|   7 |           205 | 110             | Shelley Higgins   |    12000 |                 1 |
|   8 |           206 | 110             | William Gietz     |     8300 |                 2 |
|   9 |           201 | 20              | Michael Hartstein |    13000 |                 1 |
|  10 |           202 | 20              | Pat Fay           |     6000 |                 2 |
|  11 |           114 | 30              | Den Raphaely      |    11000 |                 1 |
|  12 |           115 | 30              | Alexander Khoo    |     3100 |                 1 |
|  13 |           116 | 30              | Shelli Baida      |     2900 |                 2 |
|  14 |           117 | 30              | Sigal Tobias      |     2800 |                 2 |
|  15 |           118 | 30              | Guy Himuro        |     2600 |                 3 |
|  16 |           119 | 30              | Karen Colmenares  |     2500 |                 4 |
|  17 |           203 | 40              | Susan Mavris      |     6500 |                 1 |
|  18 |           121 | 50              | Adam Fripp        |     8200 |                 1 |
|  19 |           120 | 50              | Matthew Weiss     |     8000 |                 1 |
|  20 |           122 | 50              | Payam Kaufling    |     7900 |                 1 |
|  21 |           123 | 50              | Shanta Vollman    |     6500 |                 1 |
|  22 |           124 | 50              | Kevin Mourgos     |     5800 |                 1 |
|  23 |           184 | 50              | Nandita Sarchand  |     4200 |                 1 |
|  24 |           185 | 50              | Alexis Bull       |     4100 |                 1 |
|  25 |           192 | 50              | Sarah Bell        |     4000 |                 1 |
|  26 |           193 | 50              | Britney Everett   |     3900 |                 1 |
|  27 |           188 | 50              | Kelly Chung       |     3800 |                 1 |
|  28 |           137 | 50              | Renske Ladwig     |     3600 |                 1 |
|  29 |           189 | 50              | Jennifer Dilly    |     3600 |                 1 |
|  30 |           141 | 50              | Trenna Rajs       |     3500 |                 2 |
|  31 |           186 | 50              | Julia Dellinger   |     3400 |                 2 |
|  32 |           129 | 50              | Laura Bissot      |     3300 |                 2 |
|  33 |           133 | 50              | Jason Mallin      |     3300 |                 2 |
|  34 |           125 | 50              | Julia Nayer       |     3200 |                 2 |
|  35 |           138 | 50              | Stephen Stiles    |     3200 |                 2 |
|  36 |           180 | 50              | Winston Taylor    |     3200 |                 2 |
|  37 |           194 | 50              | Samuel McCain     |     3200 |                 2 |
|  38 |           142 | 50              | Curtis Davies     |     3100 |                 2 |
|  39 |           181 | 50              | Jean Fleaur       |     3100 |                 2 |
|  40 |           196 | 50              | Alana Walsh       |     3100 |                 2 |
|  41 |           187 | 50              | Anthony Cabrio    |     3000 |                 3 |
|  42 |           197 | 50              | Kevin Feeney      |     3000 |                 3 |
|  43 |           134 | 50              | Michael Rogers    |     2900 |                 3 |
|  44 |           190 | 50              | Timothy Gates     |     2900 |                 3 |
|  45 |           130 | 50              | Mozhe Atkinson    |     2800 |                 3 |
|  46 |           183 | 50              | Girard Geoni      |     2800 |                 3 |
|  47 |           195 | 50              | Vance Jones       |     2800 |                 3 |
|  48 |           126 | 50              | Irene Mikkilineni |     2700 |                 3 |
|  49 |           139 | 50              | John Seo          |     2700 |                 3 |
|  50 |           143 | 50              | Randall Matos     |     2600 |                 3 |
|  51 |           198 | 50              | Donald OConnell   |     2600 |                 3 |
|  52 |           199 | 50              | Douglas Grant     |     2600 |                 4 |
|  53 |           131 | 50              | James Marlow      |     2500 |                 4 |
|  54 |           140 | 50              | Joshua Patel      |     2500 |                 4 |
|  55 |           144 | 50              | Peter Vargas      |     2500 |                 4 |
|  56 |           182 | 50              | Martha Sullivan   |     2500 |                 4 |
|  57 |           191 | 50              | Randall Perkins   |     2500 |                 4 |
|  58 |           127 | 50              | James Landry      |     2400 |                 4 |
|  59 |           135 | 50              | Ki Gee            |     2400 |                 4 |
|  60 |           128 | 50              | Steven Markle     |     2200 |                 4 |
|  61 |           136 | 50              | Hazel Philtanker  |     2200 |                 4 |
|  62 |           132 | 50              | TJ Olson          |     2100 |                 4 |
|  63 |           103 | 60              | Alexander Hunold  |     9000 |                 1 |
|  64 |           104 | 60              | Bruce Ernst       |     6000 |                 1 |
|  65 |           105 | 60              | David Austin      |     4800 |                 2 |
|  66 |           106 | 60              | Valli Pataballa   |     4800 |                 3 |
|  67 |           107 | 60              | Diana Lorentz     |     4200 |                 4 |
|  68 |           204 | 70              | Hermann Baer      |    10000 |                 1 |
|  69 |           145 | 80              | John Russell      |    14000 |                 1 |
|  70 |           146 | 80              | Karen Partners    |    13500 |                 1 |
|  71 |           147 | 80              | Alberto Errazuriz |    12000 |                 1 |
|  72 |           168 | 80              | Lisa Ozer         |    11500 |                 1 |
|  73 |           148 | 80              | Gerald Cambrault  |    11000 |                 1 |
|  74 |           174 | 80              | Ellen Abel        |    11000 |                 1 |
|  75 |           149 | 80              | Eleni Zlotkey     |    10500 |                 1 |
|  76 |           162 | 80              | Clara Vishney     |    10500 |                 1 |
|  77 |           150 | 80              | Peter Tucker      |    10000 |                 1 |
|  78 |           156 | 80              | Janette King      |    10000 |                 2 |
|  79 |           169 | 80              | Harrison Bloom    |    10000 |                 2 |
|  80 |           170 | 80              | Tayler Fox        |     9600 |                 2 |
|  81 |           151 | 80              | David Bernstein   |     9500 |                 2 |
|  82 |           157 | 80              | Patrick Sully     |     9500 |                 2 |
|  83 |           163 | 80              | Danielle Greene   |     9500 |                 2 |
|  84 |           152 | 80              | Peter Hall        |     9000 |                 2 |
|  85 |           158 | 80              | Allan McEwen      |     9000 |                 2 |
|  86 |           175 | 80              | Alyssa Hutton     |     8800 |                 2 |
|  87 |           176 | 80              | Jonathon Taylor   |     8600 |                 3 |
|  88 |           177 | 80              | Jack Livingston   |     8400 |                 3 |
|  89 |           153 | 80              | Christopher Olsen |     8000 |                 3 |
|  90 |           159 | 80              | Lindsey Smith     |     8000 |                 3 |
|  91 |           154 | 80              | Nanette Cambrault |     7500 |                 3 |
|  92 |           160 | 80              | Louise Doran      |     7500 |                 3 |
|  93 |           171 | 80              | William Smith     |     7400 |                 3 |
|  94 |           172 | 80              | Elizabeth Bates   |     7300 |                 3 |
|  95 |           164 | 80              | Mattea Marvins    |     7200 |                 4 |
|  96 |           155 | 80              | Oliver Tuvault    |     7000 |                 4 |
|  97 |           161 | 80              | Sarath Sewall     |     7000 |                 4 |
|  98 |           165 | 80              | David Lee         |     6800 |                 4 |
|  99 |           166 | 80              | Sundar Ande       |     6400 |                 4 |
| 100 |           167 | 80              | Amit Banda        |     6200 |                 4 |
| 101 |           179 | 80              | Charles Johnson   |     6200 |                 4 |
| 102 |           173 | 80              | Sundita Kumar     |     6100 |                 4 |
| 103 |           100 | 90              | Steven King       |    25000 |                 1 |
| 104 |           101 | 90              | Neena Kochhar     |    17000 |                 2 |
| 105 |           102 | 90              | Lex De Haan       |    17000 |                 3 |
| 106 |           178 | NULL            | Kimberely Grant   |     7000 |                 1 |
+-----+---------------+-----------------+-------------------+----------+-------------------+

In [74]:
# prompt: Write a query to display each employee employee_id, department_id, salary , the salary of the next highest paid employee, and the difference in salary between each employee and the next highest paid employee in the company sort the results by salary and next_salary to show employees in ascending order of salary

query = """
    SELECT
        employee_id,
        department_id,
        salary,
        LEAD(salary, 1, 0) OVER (ORDER BY salary DESC) AS next_salary,
        salary - LEAD(salary, 1, 0) OVER (ORDER BY salary DESC) AS salary_difference
    FROM
        `sathish-scaler-projects.employee_db.employees`
    ORDER BY
        salary, next_salary;
"""
query_job = client.query(query)
results = query_job.result()
df = results.to_dataframe()
print(tabulate(df, headers='keys', tablefmt='psql'))

+-----+---------------+-----------------+----------+---------------+---------------------+
|     |   employee_id | department_id   |   salary |   next_salary |   salary_difference |
|-----+---------------+-----------------+----------+---------------+---------------------|
|   0 |           132 | 50              |     2100 |             0 |                2100 |
|   1 |           136 | 50              |     2200 |          2100 |                 100 |
|   2 |           128 | 50              |     2200 |          2200 |                   0 |
|   3 |           135 | 50              |     2400 |          2200 |                 200 |
|   4 |           127 | 50              |     2400 |          2400 |                   0 |
|   5 |           191 | 50              |     2500 |          2400 |                 100 |
|   6 |           140 | 50              |     2500 |          2500 |                   0 |
|   7 |           131 | 50              |     2500 |          2500 |                   0 |
|   8 |           182 | 50              |     2500 |          2500 |                   0 |
|   9 |           144 | 50              |     2500 |          2500 |                   0 |
|  10 |           119 | 30              |     2500 |          2500 |                   0 |
|  11 |           199 | 50              |     2600 |          2500 |                 100 |
|  12 |           143 | 50              |     2600 |          2600 |                   0 |
|  13 |           198 | 50              |     2600 |          2600 |                   0 |
|  14 |           118 | 30              |     2600 |          2600 |                   0 |
|  15 |           139 | 50              |     2700 |          2600 |                 100 |
|  16 |           126 | 50              |     2700 |          2700 |                   0 |
|  17 |           195 | 50              |     2800 |          2700 |                 100 |
|  18 |           117 | 30              |     2800 |          2800 |                   0 |
|  19 |           130 | 50              |     2800 |          2800 |                   0 |
|  20 |           183 | 50              |     2800 |          2800 |                   0 |
|  21 |           190 | 50              |     2900 |          2800 |                 100 |
|  22 |           116 | 30              |     2900 |          2900 |                   0 |
|  23 |           134 | 50              |     2900 |          2900 |                   0 |
|  24 |           197 | 50              |     3000 |          2900 |                 100 |
|  25 |           187 | 50              |     3000 |          3000 |                   0 |
|  26 |           196 | 50              |     3100 |          3000 |                 100 |
|  27 |           181 | 50              |     3100 |          3100 |                   0 |
|  28 |           115 | 30              |     3100 |          3100 |                   0 |
|  29 |           142 | 50              |     3100 |          3100 |                   0 |
|  30 |           194 | 50              |     3200 |          3100 |                 100 |
|  31 |           138 | 50              |     3200 |          3200 |                   0 |
|  32 |           125 | 50              |     3200 |          3200 |                   0 |
|  33 |           180 | 50              |     3200 |          3200 |                   0 |
|  34 |           133 | 50              |     3300 |          3200 |                 100 |
|  35 |           129 | 50              |     3300 |          3300 |                   0 |
|  36 |           186 | 50              |     3400 |          3300 |                 100 |
|  37 |           141 | 50              |     3500 |          3400 |                 100 |
|  38 |           189 | 50              |     3600 |          3500 |                 100 |
|  39 |           137 | 50              |     3600 |          3600 |                   0 |
|  40 |           188 | 50              |     3800 |          3600 |                 200 |
|  41 |           193 | 50              |     3900 |          3800 |                 100 |
|  42 |           192 | 50              |     4000 |          3900 |                 100 |
|  43 |           185 | 50              |     4100 |          4000 |                 100 |
|  44 |           184 | 50              |     4200 |          4100 |                 100 |
|  45 |           107 | 60              |     4200 |          4200 |                   0 |
|  46 |           200 | 10              |     4400 |          4200 |                 200 |
|  47 |           106 | 60              |     4800 |          4400 |                 400 |
|  48 |           105 | 60              |     4800 |          4800 |                   0 |
|  49 |           124 | 50              |     5800 |          4800 |                1000 |
|  50 |           202 | 20              |     6000 |          5800 |                 200 |
|  51 |           104 | 60              |     6000 |          6000 |                   0 |
|  52 |           173 | 80              |     6100 |          6000 |                 100 |
|  53 |           179 | 80              |     6200 |          6100 |                 100 |
|  54 |           167 | 80              |     6200 |          6200 |                   0 |
|  55 |           166 | 80              |     6400 |          6200 |                 200 |
|  56 |           203 | 40              |     6500 |          6400 |                 100 |
|  57 |           123 | 50              |     6500 |          6500 |                   0 |
|  58 |           165 | 80              |     6800 |          6500 |                 300 |
|  59 |           113 | 100             |     6900 |          6800 |                 100 |
|  60 |           178 | NULL            |     7000 |          6900 |                 100 |
|  61 |           161 | 80              |     7000 |          7000 |                   0 |
|  62 |           155 | 80              |     7000 |          7000 |                   0 |
|  63 |           164 | 80              |     7200 |          7000 |                 200 |
|  64 |           172 | 80              |     7300 |          7200 |                 100 |
|  65 |           171 | 80              |     7400 |          7300 |                 100 |
|  66 |           160 | 80              |     7500 |          7400 |                 100 |
|  67 |           154 | 80              |     7500 |          7500 |                   0 |
|  68 |           111 | 100             |     7700 |          7500 |                 200 |
|  69 |           112 | 100             |     7800 |          7700 |                 100 |
|  70 |           122 | 50              |     7900 |          7800 |                 100 |
|  71 |           159 | 80              |     8000 |          7900 |                 100 |
|  72 |           120 | 50              |     8000 |          8000 |                   0 |
|  73 |           153 | 80              |     8000 |          8000 |                   0 |
|  74 |           121 | 50              |     8200 |          8000 |                 200 |
|  75 |           110 | 100             |     8200 |          8200 |                   0 |
|  76 |           206 | 110             |     8300 |          8200 |                 100 |
|  77 |           177 | 80              |     8400 |          8300 |                 100 |
|  78 |           176 | 80              |     8600 |          8400 |                 200 |
|  79 |           175 | 80              |     8800 |          8600 |                 200 |
|  80 |           158 | 80              |     9000 |          8800 |                 200 |
|  81 |           109 | 100             |     9000 |          9000 |                   0 |
|  82 |           103 | 60              |     9000 |          9000 |                   0 |
|  83 |           152 | 80              |     9000 |          9000 |                   0 |
|  84 |           163 | 80              |     9500 |          9000 |                 500 |
|  85 |           157 | 80              |     9500 |          9500 |                   0 |
|  86 |           151 | 80              |     9500 |          9500 |                   0 |
|  87 |           170 | 80              |     9600 |          9500 |                 100 |
|  88 |           204 | 70              |    10000 |          9600 |                 400 |
|  89 |           156 | 80              |    10000 |         10000 |                   0 |
|  90 |           169 | 80              |    10000 |         10000 |                   0 |
|  91 |           150 | 80              |    10000 |         10000 |                   0 |
|  92 |           162 | 80              |    10500 |         10000 |                 500 |
|  93 |           149 | 80              |    10500 |         10500 |                   0 |
|  94 |           174 | 80              |    11000 |         10500 |                 500 |
|  95 |           114 | 30              |    11000 |         11000 |                   0 |
|  96 |           148 | 80              |    11000 |         11000 |                   0 |
|  97 |           168 | 80              |    11500 |         11000 |                 500 |
|  98 |           205 | 110             |    12000 |         11500 |                 500 |
|  99 |           108 | 100             |    12000 |         12000 |                   0 |
| 100 |           147 | 80              |    12000 |         12000 |                   0 |
| 101 |           201 | 20              |    13000 |         12000 |                1000 |
| 102 |           146 | 80              |    13500 |         13000 |                 500 |
| 103 |           145 | 80              |    14000 |         13500 |                 500 |
| 104 |           102 | 90              |    17000 |         14000 |                3000 |
| 105 |           101 | 90              |    17000 |         17000 |                   0 |
| 106 |           100 | 90              |    25000 |         17000 |                8000 |
+-----+---------------+-----------------+----------+---------------+---------------------+

In [75]:
# prompt: Write a query to display each employee's department_id, employee_id, hire_date, salary, the salary of the first employee hired in their department, and the salary of the most recently hired employee in their department. Sort the result by department_id

query = """
    SELECT
        department_id,
        employee_id,
        hire_date,
        salary,
        FIRST_VALUE(salary) OVER (PARTITION BY department_id ORDER BY hire_date ASC) AS first_hire_salary,
        LAST_VALUE(salary) OVER (PARTITION BY department_id ORDER BY hire_date ASC RANGE BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS last_hire_salary
    FROM
        `sathish-scaler-projects.employee_db.employees`
    ORDER BY
        department_id;
"""
query_job = client.query(query)
results = query_job.result()
df = results.to_dataframe()
print(tabulate(df, headers='keys', tablefmt='psql'))

+-----+-----------------+---------------+-------------+----------+---------------------+--------------------+
|     | department_id   |   employee_id | hire_date   |   salary |   first_hire_salary |   last_hire_salary |
|-----+-----------------+---------------+-------------+----------+---------------------+--------------------|
|   0 | 10              |           200 | 1987-09-17  |     4400 |                4400 |               4400 |
|   1 | 100             |           109 | 1994-08-16  |     9000 |                9000 |               6900 |
|   2 | 100             |           108 | 1994-08-17  |    12000 |                9000 |               6900 |
|   3 | 100             |           110 | 1997-09-28  |     8200 |                9000 |               6900 |
|   4 | 100             |           111 | 1997-09-30  |     7700 |                9000 |               6900 |
|   5 | 100             |           112 | 1998-03-07  |     7800 |                9000 |               6900 |
|   6 | 100             |           113 | 1999-12-07  |     6900 |                9000 |               6900 |
|   7 | 110             |           205 | 1994-06-07  |    12000 |               12000 |               8300 |
|   8 | 110             |           206 | 1994-06-07  |     8300 |               12000 |               8300 |
|   9 | 20              |           201 | 1996-02-17  |    13000 |               13000 |               6000 |
|  10 | 20              |           202 | 1997-08-17  |     6000 |               13000 |               6000 |
|  11 | 30              |           114 | 1994-12-07  |    11000 |               11000 |               2500 |
|  12 | 30              |           115 | 1995-05-18  |     3100 |               11000 |               2500 |
|  13 | 30              |           117 | 1997-07-24  |     2800 |               11000 |               2500 |
|  14 | 30              |           116 | 1997-12-24  |     2900 |               11000 |               2500 |
|  15 | 30              |           118 | 1998-11-15  |     2600 |               11000 |               2500 |
|  16 | 30              |           119 | 1999-08-10  |     2500 |               11000 |               2500 |
|  17 | 40              |           203 | 1994-06-07  |     6500 |                6500 |               6500 |
|  18 | 50              |           122 | 1995-05-01  |     7900 |                7900 |               2200 |
|  19 | 50              |           137 | 1995-07-14  |     3600 |                7900 |               2200 |
|  20 | 50              |           141 | 1995-10-17  |     3500 |                7900 |               2200 |
|  21 | 50              |           184 | 1996-01-27  |     4200 |                7900 |               2200 |
|  22 | 50              |           192 | 1996-02-04  |     4000 |                7900 |               2200 |
|  23 | 50              |           133 | 1996-06-14  |     3300 |                7900 |               2200 |
|  24 | 50              |           120 | 1996-07-18  |     8000 |                7900 |               2200 |
|  25 | 50              |           142 | 1997-01-29  |     3100 |                7900 |               2200 |
|  26 | 50              |           131 | 1997-02-16  |     2500 |                7900 |               2200 |
|  27 | 50              |           185 | 1997-02-20  |     4100 |                7900 |               2200 |
|  28 | 50              |           193 | 1997-03-03  |     3900 |                7900 |               2200 |
|  29 | 50              |           121 | 1997-04-10  |     8200 |                7900 |               2200 |
|  30 | 50              |           188 | 1997-06-14  |     3800 |                7900 |               2200 |
|  31 | 50              |           125 | 1997-07-16  |     3200 |                7900 |               2200 |
|  32 | 50              |           189 | 1997-08-13  |     3600 |                7900 |               2200 |
|  33 | 50              |           129 | 1997-08-20  |     3300 |                7900 |               2200 |
|  34 | 50              |           123 | 1997-10-10  |     6500 |                7900 |               2200 |
|  35 | 50              |           138 | 1997-10-26  |     3200 |                7900 |               2200 |
|  36 | 50              |           130 | 1997-10-30  |     2800 |                7900 |               2200 |
|  37 | 50              |           180 | 1998-01-24  |     3200 |                7900 |               2200 |
|  38 | 50              |           139 | 1998-02-12  |     2700 |                7900 |               2200 |
|  39 | 50              |           181 | 1998-02-23  |     3100 |                7900 |               2200 |
|  40 | 50              |           143 | 1998-03-15  |     2600 |                7900 |               2200 |
|  41 | 50              |           140 | 1998-04-06  |     2500 |                7900 |               2200 |
|  42 | 50              |           196 | 1998-04-24  |     3100 |                7900 |               2200 |
|  43 | 50              |           197 | 1998-05-23  |     3000 |                7900 |               2200 |
|  44 | 50              |           186 | 1998-06-24  |     3400 |                7900 |               2200 |
|  45 | 50              |           194 | 1998-07-01  |     3200 |                7900 |               2200 |
|  46 | 50              |           144 | 1998-07-09  |     2500 |                7900 |               2200 |
|  47 | 50              |           190 | 1998-07-11  |     2900 |                7900 |               2200 |
|  48 | 50              |           134 | 1998-08-26  |     2900 |                7900 |               2200 |
|  49 | 50              |           126 | 1998-09-28  |     2700 |                7900 |               2200 |
|  50 | 50              |           127 | 1999-01-14  |     2400 |                7900 |               2200 |
|  51 | 50              |           187 | 1999-02-07  |     3000 |                7900 |               2200 |
|  52 | 50              |           195 | 1999-03-17  |     2800 |                7900 |               2200 |
|  53 | 50              |           132 | 1999-04-10  |     2100 |                7900 |               2200 |
|  54 | 50              |           182 | 1999-06-21  |     2500 |                7900 |               2200 |
|  55 | 50              |           198 | 1999-06-21  |     2600 |                7900 |               2200 |
|  56 | 50              |           124 | 1999-11-16  |     5800 |                7900 |               2200 |
|  57 | 50              |           135 | 1999-12-12  |     2400 |                7900 |               2200 |
|  58 | 50              |           191 | 1999-12-19  |     2500 |                7900 |               2200 |
|  59 | 50              |           199 | 2000-01-13  |     2600 |                7900 |               2200 |
|  60 | 50              |           183 | 2000-02-03  |     2800 |                7900 |               2200 |
|  61 | 50              |           136 | 2000-02-06  |     2200 |                7900 |               2200 |
|  62 | 50              |           128 | 2000-03-08  |     2200 |                7900 |               2200 |
|  63 | 60              |           103 | 1990-01-03  |     9000 |                9000 |               4200 |
|  64 | 60              |           104 | 1991-05-21  |     6000 |                9000 |               4200 |
|  65 | 60              |           105 | 1997-06-25  |     4800 |                9000 |               4200 |
|  66 | 60              |           106 | 1998-02-05  |     4800 |                9000 |               4200 |
|  67 | 60              |           107 | 1999-02-07  |     4200 |                9000 |               4200 |
|  68 | 70              |           204 | 1994-06-07  |    10000 |               10000 |              10000 |
|  69 | 80              |           156 | 1996-01-30  |    10000 |               10000 |               6100 |
|  70 | 80              |           157 | 1996-03-04  |     9500 |               10000 |               6100 |
|  71 | 80              |           174 | 1996-05-11  |    11000 |               10000 |               6100 |
|  72 | 80              |           158 | 1996-08-01  |     9000 |               10000 |               6100 |
|  73 | 80              |           145 | 1996-10-01  |    14000 |               10000 |               6100 |
|  74 | 80              |           146 | 1997-01-05  |    13500 |               10000 |               6100 |
|  75 | 80              |           150 | 1997-01-30  |    10000 |               10000 |               6100 |
|  76 | 80              |           147 | 1997-03-10  |    12000 |               10000 |               6100 |
|  77 | 80              |           159 | 1997-03-10  |     8000 |               10000 |               6100 |
|  78 | 80              |           168 | 1997-03-11  |    11500 |               10000 |               6100 |
|  79 | 80              |           175 | 1997-03-19  |     8800 |               10000 |               6100 |
|  80 | 80              |           151 | 1997-03-24  |     9500 |               10000 |               6100 |
|  81 | 80              |           152 | 1997-08-20  |     9000 |               10000 |               6100 |
|  82 | 80              |           162 | 1997-11-11  |    10500 |               10000 |               6100 |
|  83 | 80              |           160 | 1997-12-15  |     7500 |               10000 |               6100 |
|  84 | 80              |           170 | 1998-01-24  |     9600 |               10000 |               6100 |
|  85 | 80              |           169 | 1998-03-23  |    10000 |               10000 |               6100 |
|  86 | 80              |           176 | 1998-03-24  |     8600 |               10000 |               6100 |
|  87 | 80              |           153 | 1998-03-30  |     8000 |               10000 |               6100 |
|  88 | 80              |           177 | 1998-04-23  |     8400 |               10000 |               6100 |
|  89 | 80              |           161 | 1998-11-03  |     7000 |               10000 |               6100 |
|  90 | 80              |           154 | 1998-12-09  |     7500 |               10000 |               6100 |
|  91 | 80              |           171 | 1999-02-23  |     7400 |               10000 |               6100 |
|  92 | 80              |           163 | 1999-03-19  |     9500 |               10000 |               6100 |
|  93 | 80              |           172 | 1999-03-24  |     7300 |               10000 |               6100 |
|  94 | 80              |           148 | 1999-10-15  |    11000 |               10000 |               6100 |
|  95 | 80              |           155 | 1999-11-23  |     7000 |               10000 |               6100 |
|  96 | 80              |           179 | 2000-01-04  |     6200 |               10000 |               6100 |
|  97 | 80              |           164 | 2000-01-24  |     7200 |               10000 |               6100 |
|  98 | 80              |           149 | 2000-01-29  |    10500 |               10000 |               6100 |
|  99 | 80              |           165 | 2000-02-23  |     6800 |               10000 |               6100 |
| 100 | 80              |           166 | 2000-03-24  |     6400 |               10000 |               6100 |
| 101 | 80              |           167 | 2000-04-21  |     6200 |               10000 |               6100 |
| 102 | 80              |           173 | 2000-04-21  |     6100 |               10000 |               6100 |
| 103 | 90              |           100 | 1987-06-17  |    25000 |               25000 |              17000 |
| 104 | 90              |           101 | 1989-09-21  |    17000 |               25000 |              17000 |
| 105 | 90              |           102 | 1993-01-13  |    17000 |               25000 |              17000 |
| 106 | NULL            |           178 | 1999-05-24  |     7000 |                7000 |               7000 |
+-----+-----------------+---------------+-------------+----------+---------------------+--------------------+

In [78]:
# prompt: Write a query to display each employee's employee_id, department_id, salary, hire_date, and two types of moving sums within each department, ordered by hire_date:
# mov_sum_1: The moving sum of salaries including the current row, the row before, and the row after. (with a window size of N=3) ,
# mov_sum_2: The moving sum of salaries including the current row and the two rows before it. (with a window size of N=3)

query = """
    SELECT
        employee_id,
        department_id,
        salary,
        hire_date,
        SUM(salary) OVER (PARTITION BY department_id ORDER BY hire_date ASC ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING) AS mov_sum_1,
        SUM(salary) OVER (PARTITION BY department_id ORDER BY hire_date ASC ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS mov_sum_2
    FROM
        `sathish-scaler-projects.employee_db.employees`
    ORDER BY
        department_id,
        hire_date;
"""

query_job = client.query(query)
results = query_job.result()
df = results.to_dataframe()
print(tabulate(df, headers='keys', tablefmt='psql'))

+-----+---------------+-----------------+----------+-------------+-------------+-------------+
|     |   employee_id | department_id   |   salary | hire_date   |   mov_sum_1 |   mov_sum_2 |
|-----+---------------+-----------------+----------+-------------+-------------+-------------|
|   0 |           200 | 10              |     4400 | 1987-09-17  |        4400 |        4400 |
|   1 |           109 | 100             |     9000 | 1994-08-16  |       21000 |        9000 |
|   2 |           108 | 100             |    12000 | 1994-08-17  |       29200 |       21000 |
|   3 |           110 | 100             |     8200 | 1997-09-28  |       27900 |       29200 |
|   4 |           111 | 100             |     7700 | 1997-09-30  |       23700 |       27900 |
|   5 |           112 | 100             |     7800 | 1998-03-07  |       22400 |       23700 |
|   6 |           113 | 100             |     6900 | 1999-12-07  |       14700 |       22400 |
|   7 |           205 | 110             |    12000 | 1994-06-07  |       20300 |       12000 |
|   8 |           206 | 110             |     8300 | 1994-06-07  |       20300 |       20300 |
|   9 |           201 | 20              |    13000 | 1996-02-17  |       19000 |       13000 |
|  10 |           202 | 20              |     6000 | 1997-08-17  |       19000 |       19000 |
|  11 |           114 | 30              |    11000 | 1994-12-07  |       14100 |       11000 |
|  12 |           115 | 30              |     3100 | 1995-05-18  |       16900 |       14100 |
|  13 |           117 | 30              |     2800 | 1997-07-24  |        8800 |       16900 |
|  14 |           116 | 30              |     2900 | 1997-12-24  |        8300 |        8800 |
|  15 |           118 | 30              |     2600 | 1998-11-15  |        8000 |        8300 |
|  16 |           119 | 30              |     2500 | 1999-08-10  |        5100 |        8000 |
|  17 |           203 | 40              |     6500 | 1994-06-07  |        6500 |        6500 |
|  18 |           122 | 50              |     7900 | 1995-05-01  |       11500 |        7900 |
|  19 |           137 | 50              |     3600 | 1995-07-14  |       15000 |       11500 |
|  20 |           141 | 50              |     3500 | 1995-10-17  |       11300 |       15000 |
|  21 |           184 | 50              |     4200 | 1996-01-27  |       11700 |       11300 |
|  22 |           192 | 50              |     4000 | 1996-02-04  |       11500 |       11700 |
|  23 |           133 | 50              |     3300 | 1996-06-14  |       15300 |       11500 |
|  24 |           120 | 50              |     8000 | 1996-07-18  |       14400 |       15300 |
|  25 |           142 | 50              |     3100 | 1997-01-29  |       13600 |       14400 |
|  26 |           131 | 50              |     2500 | 1997-02-16  |        9700 |       13600 |
|  27 |           185 | 50              |     4100 | 1997-02-20  |       10500 |        9700 |
|  28 |           193 | 50              |     3900 | 1997-03-03  |       16200 |       10500 |
|  29 |           121 | 50              |     8200 | 1997-04-10  |       15900 |       16200 |
|  30 |           188 | 50              |     3800 | 1997-06-14  |       15200 |       15900 |
|  31 |           125 | 50              |     3200 | 1997-07-16  |       10600 |       15200 |
|  32 |           189 | 50              |     3600 | 1997-08-13  |       10100 |       10600 |
|  33 |           129 | 50              |     3300 | 1997-08-20  |       13400 |       10100 |
|  34 |           123 | 50              |     6500 | 1997-10-10  |       13000 |       13400 |
|  35 |           138 | 50              |     3200 | 1997-10-26  |       12500 |       13000 |
|  36 |           130 | 50              |     2800 | 1997-10-30  |        9200 |       12500 |
|  37 |           180 | 50              |     3200 | 1998-01-24  |        8700 |        9200 |
|  38 |           139 | 50              |     2700 | 1998-02-12  |        9000 |        8700 |
|  39 |           181 | 50              |     3100 | 1998-02-23  |        8400 |        9000 |
|  40 |           143 | 50              |     2600 | 1998-03-15  |        8200 |        8400 |
|  41 |           140 | 50              |     2500 | 1998-04-06  |        8200 |        8200 |
|  42 |           196 | 50              |     3100 | 1998-04-24  |        8600 |        8200 |
|  43 |           197 | 50              |     3000 | 1998-05-23  |        9500 |        8600 |
|  44 |           186 | 50              |     3400 | 1998-06-24  |        9600 |        9500 |
|  45 |           194 | 50              |     3200 | 1998-07-01  |        9100 |        9600 |
|  46 |           144 | 50              |     2500 | 1998-07-09  |        8600 |        9100 |
|  47 |           190 | 50              |     2900 | 1998-07-11  |        8300 |        8600 |
|  48 |           134 | 50              |     2900 | 1998-08-26  |        8500 |        8300 |
|  49 |           126 | 50              |     2700 | 1998-09-28  |        8000 |        8500 |
|  50 |           127 | 50              |     2400 | 1999-01-14  |        8100 |        8000 |
|  51 |           187 | 50              |     3000 | 1999-02-07  |        8200 |        8100 |
|  52 |           195 | 50              |     2800 | 1999-03-17  |        7900 |        8200 |
|  53 |           132 | 50              |     2100 | 1999-04-10  |        7400 |        7900 |
|  54 |           182 | 50              |     2500 | 1999-06-21  |        7200 |        7400 |
|  55 |           198 | 50              |     2600 | 1999-06-21  |       10900 |        7200 |
|  56 |           124 | 50              |     5800 | 1999-11-16  |       10800 |       10900 |
|  57 |           135 | 50              |     2400 | 1999-12-12  |       10700 |       10800 |
|  58 |           191 | 50              |     2500 | 1999-12-19  |        7500 |       10700 |
|  59 |           199 | 50              |     2600 | 2000-01-13  |        7900 |        7500 |
|  60 |           183 | 50              |     2800 | 2000-02-03  |        7600 |        7900 |
|  61 |           136 | 50              |     2200 | 2000-02-06  |        7200 |        7600 |
|  62 |           128 | 50              |     2200 | 2000-03-08  |        4400 |        7200 |
|  63 |           103 | 60              |     9000 | 1990-01-03  |       15000 |        9000 |
|  64 |           104 | 60              |     6000 | 1991-05-21  |       19800 |       15000 |
|  65 |           105 | 60              |     4800 | 1997-06-25  |       15600 |       19800 |
|  66 |           106 | 60              |     4800 | 1998-02-05  |       13800 |       15600 |
|  67 |           107 | 60              |     4200 | 1999-02-07  |        9000 |       13800 |
|  68 |           204 | 70              |    10000 | 1994-06-07  |       10000 |       10000 |
|  69 |           156 | 80              |    10000 | 1996-01-30  |       19500 |       10000 |
|  70 |           157 | 80              |     9500 | 1996-03-04  |       30500 |       19500 |
|  71 |           174 | 80              |    11000 | 1996-05-11  |       29500 |       30500 |
|  72 |           158 | 80              |     9000 | 1996-08-01  |       34000 |       29500 |
|  73 |           145 | 80              |    14000 | 1996-10-01  |       36500 |       34000 |
|  74 |           146 | 80              |    13500 | 1997-01-05  |       37500 |       36500 |
|  75 |           150 | 80              |    10000 | 1997-01-30  |       35500 |       37500 |
|  76 |           147 | 80              |    12000 | 1997-03-10  |       30000 |       35500 |
|  77 |           159 | 80              |     8000 | 1997-03-10  |       31500 |       30000 |
|  78 |           168 | 80              |    11500 | 1997-03-11  |       28300 |       31500 |
|  79 |           175 | 80              |     8800 | 1997-03-19  |       29800 |       28300 |
|  80 |           151 | 80              |     9500 | 1997-03-24  |       27300 |       29800 |
|  81 |           152 | 80              |     9000 | 1997-08-20  |       29000 |       27300 |
|  82 |           162 | 80              |    10500 | 1997-11-11  |       27000 |       29000 |
|  83 |           160 | 80              |     7500 | 1997-12-15  |       27600 |       27000 |
|  84 |           170 | 80              |     9600 | 1998-01-24  |       27100 |       27600 |
|  85 |           169 | 80              |    10000 | 1998-03-23  |       28200 |       27100 |
|  86 |           176 | 80              |     8600 | 1998-03-24  |       26600 |       28200 |
|  87 |           153 | 80              |     8000 | 1998-03-30  |       25000 |       26600 |
|  88 |           177 | 80              |     8400 | 1998-04-23  |       23400 |       25000 |
|  89 |           161 | 80              |     7000 | 1998-11-03  |       22900 |       23400 |
|  90 |           154 | 80              |     7500 | 1998-12-09  |       21900 |       22900 |
|  91 |           171 | 80              |     7400 | 1999-02-23  |       24400 |       21900 |
|  92 |           163 | 80              |     9500 | 1999-03-19  |       24200 |       24400 |
|  93 |           172 | 80              |     7300 | 1999-03-24  |       27800 |       24200 |
|  94 |           148 | 80              |    11000 | 1999-10-15  |       25300 |       27800 |
|  95 |           155 | 80              |     7000 | 1999-11-23  |       24200 |       25300 |
|  96 |           179 | 80              |     6200 | 2000-01-04  |       20400 |       24200 |
|  97 |           164 | 80              |     7200 | 2000-01-24  |       23900 |       20400 |
|  98 |           149 | 80              |    10500 | 2000-01-29  |       24500 |       23900 |
|  99 |           165 | 80              |     6800 | 2000-02-23  |       23700 |       24500 |
| 100 |           166 | 80              |     6400 | 2000-03-24  |       19400 |       23700 |
| 101 |           167 | 80              |     6200 | 2000-04-21  |       18700 |       19400 |
| 102 |           173 | 80              |     6100 | 2000-04-21  |       12300 |       18700 |
| 103 |           100 | 90              |    25000 | 1987-06-17  |       42000 |       25000 |
| 104 |           101 | 90              |    17000 | 1989-09-21  |       59000 |       42000 |
| 105 |           102 | 90              |    17000 | 1993-01-13  |       34000 |       59000 |
| 106 |           178 | NULL            |     7000 | 1999-05-24  |        7000 |        7000 |
+-----+---------------+-----------------+----------+-------------+-------------+-------------+